@import "./variables";
@import "./mixins";

.cart {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding-bottom: 130px;

  .order-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 60px;

    .product-list {
      max-width: 720px;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 50px;
      border-bottom: 2px solid $black;
      padding-bottom: 10px;

      .product {
        display: flex;
        position: relative;
        gap: 30px;
        align-items: center;
        padding: 0 0 30px 0;
        border-bottom: 1px solid rgba(68, 68, 68, 0.1);

        .product-info {
          display: flex;
          flex-direction: column;
          gap: 25px;
          width: 100%;

          .close {
            @include flex-center;
            position: absolute;
            top: 0;
            right: 0;
            width: 25px;
            height: 25px;
            border: 1px solid rgba(68, 68, 68, 0.1);
            color: rgba(68, 68, 68, 0.1);
            cursor: pointer;
          }

          .title {
            font-family: "Josefin Sans";
            font-weight: 400;
            font-size: 20px;
            line-height: 120%;
            color: $black;
          }

          .price-wrapper {
            @include flex-between;
            gap: 48px;

            .price-and-quantity {
              @include flex-between;
              gap: 48px;
              width: 100%;
              max-width: 50%;

              .quantity {
                display: flex;
                gap: 20px;
                padding: 16px 20px;
                background: #f8f8fb;
                align-items: center;

                .remove-button,
                .add-button {
                  cursor: pointer;
                  color: #999;
                  font-weight: 500;
                  font-size: 23px;
                  line-height: 100%;
                }

                .counter {
                  font-weight: 400;
                  font-size: 18px;
                  line-height: 100%;
                  color: $black;
                }
              }
            }

            .total-price {
              font-family: "Josefin Sans";
              font-weight: 400;
              font-size: 20px;
              line-height: 100%;
              color: $black;
            }
          }
        }

        .photo {
          max-width: 130px;
          height: 140px;
          width: 100%;
          background: #f1f2f3;

          .cart-product-img {
            width: 100%;
          }
        }
      }
    }

    .order {
      max-width: 360px;
      width: 100%;
      padding: 40px;
      border: 1px solid rgba(68, 68, 68, 0.1);
      display: flex;
      flex-direction: column;
      gap: 20px;

      .title {
        font-family: "Josefin Sans";
        font-weight: 400;
        font-size: 32px;
        line-height: 120%;
        color: $black;
      }

      .order-price-wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .price-row {
          @include flex-between;
          gap: 15px;
          font-weight: 400;
          font-size: 16px;
          line-height: 170%;
          color: #444;
          padding-bottom: 15px;
          border-bottom: 1px solid rgba(68, 68, 68, 0.1);

          .price {
            font-family: "Josefin Sans";
            font-weight: 400;
            font-size: 20px;
            line-height: 100%;
            color: #444;
          }

          .name .additional {
            font-size: 14px;
            line-height: 170%;
          }

          &.delimiter {
            border-bottom: 2px solid $black;
          }

          &.total {
            border-bottom: none;
            padding: unset;

            .price {
              font-family: "Josefin Sans";
              font-weight: 400;
              font-size: 25px;
              line-height: 100%;
              color: $black;
            }
          }
        }
      }

      .button-wrapper {
        max-width: unset;
      }
    }
  }

  .promo-code-wrapper {
    max-width: 375px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;

    .info {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .title {
        font-family: "Josefin Sans";
        font-weight: 400;
        font-size: 32px;
        line-height: 120%;
        color: $black;
      }

      .description {
        font-family: "Raleway";
        font-weight: 400;
        font-size: 16px;
        line-height: 170%;
        color: #444;
      }
    }

    .promo-code {
      display: flex;
      align-items: center;
      gap: 30px;

      .button-wrapper {
        max-width: 54px;

        .button {
          padding: 17px 14px;
        }
      }
    }
  }
}
