:root {
  --pink: rgba(255, 142, 142, 1);
}

.header-menu-2 {
  display: flex;
  justify-content: space-between;
  gap: 150px;
  margin-bottom: 200px;
}

.header-menu-2 .header-img {
  max-width: 800px;
  width: 100%;
  height: 400px;
  background: rgba(241, 242, 243, 1);
  margin-top: 50px;
  margin-right: 120px;
}

.header-menu-2 .menu-wrapper {
  max-width: 850px;
  width: 100%;
  height: 322px;
  margin-top: 82px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.header-menu-2 .menu-wrapper .background {
  position: absolute;
  left: 60px;
}

.header-menu-2 .menu-wrapper .breadcrumbs-menu-wrapper {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid black;
  margin-bottom: 64px;
  padding-bottom: 20px;
  padding-left: 390px;
}

.header-menu-2 .menu-wrapper .breadcrumbs-menu-wrapper .breadcrumbs-menu {
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.header-menu-2 .breadcrumbs-menu-wrapper .breadcrumbs-menu .title {
  font-family: Josefin Sans;
  font-weight: 400;
  font-size: 80px;
  line-height: 100%;
}

.header-menu-2 .breadcrumbs-menu-wrapper .breadcrumbs-menu .breadcrumbs {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  display: flex;
  gap: 12px;
  height: 24px;
  align-items: center;
}

.header-menu-2 .breadcrumbs-menu-wrapper .breadcrumbs-menu .breadcrumbs .line {
  height: 15px;
  width: 2px;
  background: black;
}

.header-menu-2 .breadcrumbs-menu-wrapper .breadcrumbs-menu .breadcrumbs a {
  text-decoration: none;
  color: black;
}

.header-menu-2
  .breadcrumbs-menu-wrapper
  .breadcrumbs-menu
  .breadcrumbs
  a:hover {
  color: var(--pink);
}

.header-menu-2
  .breadcrumbs-menu-wrapper
  .breadcrumbs-menu
  .breadcrumbs
  .current-page {
  color: var(--pink);
}
